#questionDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#yesButton {
    background-color: #0D0630;
    color: #E4DFDA;
    font-size: 30px;
    border-radius: 4px;
    width: 20%;
    overflow: hidden;
    transform: translate(0%, 0%);
    padding: 10px 0 11px;
}

#yesButton span {
    position: relative;
    z-index: 10;
}

#notYet {
    font-size: 12px;
    color: #022B3A;
}

#yesButton:after, #yesButton:before {
    padding: 18px 0 11px;
    content: '';
    position: absolute;
    top: 0;
    left: calc(-100% - 30px);
    height: calc(100% - 29px);
    width: calc(100% + 20px);
    color: #fff;
    border-radius: 4px;
    transform: skew(-25deg);
}

#yesButton:after {
    background: #fffffa;
    transition: left 0.8s cubic-bezier(0.86, 0, 0.07, 1) 0.2s;
    z-index: 0;
    opacity: 0.8;
}

#yesButton:before {
    background: #EE4663;
    z-index: 5;
    transition: left 1s cubic-bezier(0.86, 0, 0.07, 1);
}

#yesButton:hover:after {
    left: calc(0% - 10px);
    transition: left 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

#yesButton:hover:before {
    left: calc(0% - 10px);
    transition: left 1s cubic-bezier(0.86, 0, 0.07, 1);
}